.page-main {
  background-color: var(--coral-bg);
  color: var(--text-color);
}

.about-area p {
  padding: 40px;
  font-family: "Work Sans";
  font-size: 22px;
}

.about-image {
  width: 300px;
  height: auto;
  margin-top: -80px;
  z-index: 1000;
}

@media only screen and (max-width: 720px) {
  .about-image {
    margin-top: 0px;
  }

  .about-area p {
    padding: 20px;
  }
}
