.page-main {
  background-color: var(--coral-bg);
  color: var(--text-color);
}

.about-text-area {
  padding: 40px;
}

.about-text-area h1 {
  font-size: 2.5em;
  line-height: 1.5em;
  color: #414A4C;
}

.about-text-area p {
  font-size: 1.2em;
  line-height: 1.5em;
}

.about-image {
  width: 300px;
  height: auto;
  margin-top: -80px;
  z-index: 1000;
  border-radius: 20px;
}

.education-section, .training-section, .about-section {
  background-color: var(--dark-coral-bg);
}

.education-section ul, .training-section ul {
  padding-left: 20px;
}

.about-section {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.training-section {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .about-text-area {
    padding: 20px;
  }

  .about-image {
    margin-top: 0px;
  }

  .about-text-area h1 {
    font-size: 1.8em;
  }

  .about-text-area p {
    font-size: 1em;
    line-height: 1.5em;
  }
}
