.page-main {
  background-color: var(--coral-bg);
  color: var(--text-color);
}

.about-area p {
  padding: 40px;
  font-family: "Work Sans";
  font-size: 22px;
}

.about-image {
  width: 300px;
  height: auto;
  margin-top: -80px;
  z-index: 1000;
  border-radius: 20px;
}

.education-section, .training-section, .about-section {
  background-color: var(--dark-coral-bg);
}

.education-section ul, .training-section ul {
  padding-left: 20px;
}

.about-section {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.training-section {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

@media only screen and (max-width: 720px) {
  .about-image {
    margin-top: 0px;
  }

  .about-area p {
    padding: 20px;
  }
}
