.blog-page {
  background-color: var(--coral-bg);
  color: var(--text-color);
  padding: 20px;
}

.articles {
  margin: 20px;
  padding: 20px;
}

.article-container {
  padding: 40px;
  background-color: var(--coral-bg);
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.blog-article {
  padding: 20px;
  margin-bottom: 40px;
  background-color: white;
  border-radius: 20px;
}

.article {
  max-width: 1200px;
  padding: 40px;
  background-color: white;
  border-radius: 20px;
}

.article-img-container {
  display: flex;
  justify-content: center;
}

.article-img {
  width: auto;
  height: 225px;
  width: auto;
  border-radius: 20px;
}

@media only screen and (max-width: 500px) {
  article h1 {
    font-size: 1.8em;
  }

  .article-container {
    padding: 20px;
  }

  .articles {
    margin: 0;
    padding: 0;
  }

  .blog-article {
    margin-bottom: 20px;
  }

  .article {
    padding: 20px;
  }

  .article-title {
    font-size: 1.5em;
  }

  .article-date {
    font-size: .8em;
  }

  .article-excerpt {
    font-size: .9em;
  }
}