.map-element {
	border: none;
	border-radius: 20px;
}

.contact-column {
	background-color: white;
	border-radius: 20px;
}

@media only screen and (max-width: 500px) {
  .contact-column, .map-element {
    margin-bottom: 20px;
  }
}