.grid-col {
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: var(--coral-bg);
  background-size: cover;
}

.grid-col h3,
.grid-col p {
  color: var(--text-color);
}

.grid-col-2 {
  background-image: url("../public/images/desk2-cropped.jpg");
}
.grid-col-3 {
  background-image: url("../public/images/desk3-cropped.jpg");
}

@media only screen and (max-width: 767px) {
  .grid-col-1 {
    order: 1;
  }
  .grid-col-2 {
    order: 1;
  }
  .grid-col-3 {
    order: 4;
  }
  .grid-col-4 {
    order: 3;
  }
}
